#home, body, nav {
    /* Purple Love */
    background: #cc2b5e;
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    background: linear-gradient(to right, #753a88, #cc2b5e);
    
    /* background: #2980b9;  
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
    background: linear-gradient(to right, #2c3e50, #2980b9); */
}

#portfolio {
    background: #ad2450;
    background: -webkit-linear-gradient(to right, #542a62, #ad2450);
    background: linear-gradient(to right, #542a62, #ad2450);
    height: auto;
    /* clip-path: circle(30% at 50% 50%); */
    
    /* clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%); */
    /* clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 5%); */
    /* clip-path: circle(100% at 50% 0); */
    /* clip-path: polygon(50% 0, 100% 10%, 100% 100%, 0 100%, 0 10%); */
    /* clip-path: polygon(0 100%, 0 1%, 16.66% 0, 33.33% 1%, 50% 0, 66.66% 1%, 83.33% 0, 100% 1%, 100% 100%); */
    /* clip-path: circle(100% at 30% 120%); */

    clip-path: polygon(50% 1%, 100% 0%, 100% 100%, 0 100%, 0 0);
}

#portfolio h2 {
    background: #ad2450;
    background: -webkit-linear-gradient(to right, #542a62, #ad2450);
    background: linear-gradient(to right, #542a62, #ad2450);
    z-index: 100; 
   
/*  
    background: #ad2450;
    background: -webkit-linear-gradient(to right, #542a62, #ad2450);
    background: linear-gradient(to right, #542a62, #ad2450); */
    /* clip-path: circle(30% at 50% 50%); */
}

footer {
    background: #901d42;
    background: -webkit-linear-gradient(to right, #3c1e46, #901d42);
    background: linear-gradient(to right, #3c1e46, #901d42);
}


#nav-items li a {
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}